__pycache__
.pytest_cache/
app.egg-info
.idea/*
!/.idea/runConfigurations/
.venv/
venv/
db.sqlite3
*.pyc
static/*
nginx/conf.d/sites-enabled/
nginx/certbot/*
postgres_data/
.env
.DS_Store
.vscode
media/
.rabbitmq-env
core/config.py

